.banner {
     display: flex;
     justify-content: center; 
     align-items: center;     
     height: 50vh;                
     background-color: #b2cbf2;
     margin-top: 12vh;
}

.bannerImage {
     max-width: 250vh;        
     height: auto;
}
