.volunteerButton {
     margin-top: 2rem;
     padding: 0.5rem 1rem;
     background-color: #D34F00;
     color: white;
     font-weight: bold;
}

.copyright {
     margin-top: 5rem;
     font-style: italic;
}

.footerVolunteerAsk {
     margin-top: 1rem;
}