.card {
     width: 60%;
     max-width: 350px; 
     border: 1px solid #ccc;
     border-radius: 10px;
     padding: 15px;
     box-shadow: 0 2px 5px rgba(0,0,0,0.1);
     text-align: center;
     background-color: #fff;
     transition: transform 0.2s;
}

.card:hover {
     transform: translateY(-5px); 
}

.petImage {
     width: 100%;
     height: auto;
     border-radius: 8px;
     margin-bottom: 10px;
}

.card h3 {
     font-size: 1.25rem;
     margin-bottom: 10px;
}

.card p {
     font-size: 1rem;
     margin: 3px 0;
}

@media (max-width: 500px) {
     .card {
          max-width: 60%; 
          padding: 10px;
     }

     .card h3 {
          font-size: 1.1rem;
     }

     .card p {
          font-size: 0.95rem;
     }
}
